body {
  background-image: -webkit-linear-gradient(
    40deg,
    hsl(265, 96%, 67%),
    hsl(190, 96%, 67%)
  );
  height:100vh;
}
/* Container for the music thumbnail */
.music-thumbnail-container {
  position: relative;
  width: 300px; /* You can adjust this */
  height: 350px; /* Thumbnail is square, but you can adjust height independently if you prefer */
  overflow: hidden; /* Ensures the image stays within bounds */
  border-radius: 15px; /* Rounded corners for a softer look. Adjust as desired. */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A subtle shadow for depth */
  margin: 0 auto; /* Center the thumbnail if the parent container allows it */
}

/* The actual image */
.music-thumbnail-container img {
  display: block; /* Block-level element ensures it takes up full space */
  width: 100%; /* Take up full width of the container */
  height: 100%; /* Take up full height of the container */
  object-fit: cover; /* Ensures image covers the entire container without distortion */
  transition: transform 0.3s ease; /* Smooth zoom on hover */
}
.center-flexbox {
  /* border:2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Pack items around the center */
  align-items: center;
  padding: 5px;
  margin-top: 5px;
}

.song-title {
  text-align: center;
  margin-bottom: 10px;
  color: white;
  text-decoration-line: underline;
}

audio {
  width: 95%;
}

.music-card {
  border: 2px solid black;
}